body {
    width: 210mm;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

#intro {
    background-color: #145374;
}

#contact {
    background-color: #00334E;
}

.heading {
    color: #216583;
}

.highlight {
    color: #216583;
}

.skill {
    background-color: #E1E8EB;
    font-weight: 500;
}

p {
    text-align: justify;
}